.group-view-col {
  width: 70%;
  left: 0px;
}

.group-view-row {
  float: left;
  left: -10px;
  
}

.ngo-view {
  left: 10px;
}

.list-group {
  width: 125px;
  margin-left: -1px;
  
}

.all-groups {
  position: absolute;
  left: 0px;
  top: 40px;
}

.panel {
  position: absolute;
  float: right;
  width: 125px;
  margin-left: -10px;
  margin-right: 25px;
  left: 5px;
}

.groupview-header {
 padding-left: 275px;
}

.groupview-line {
  border: solid 1px;
  margin-left: 0px;
}

.react-bootstrap-table {
  margin-bottom: -21px;
}


.react-bootstrap-table-pagination-list {
  text-align: right;
  transform: translateX(-50%);
  padding: 0px;
  padding-top: -10px;
}

.react-bootstrap-table-page-btns-ul {
  float: right !important;
  margin-top: 0px;
}

// ---- misc --- //
.search-field {
  width: 15%;
}

.form-control {
  padding-left: 0px;
}

.header {
  padding-left: 10px;
  padding-bottom: 10px !important;
}

.chartjs-main {
  margin-left: -200px !important;
}