.group-view-col {
  width: 65%;
}

.group-view-row {
  width: 70%;
}

.react-bootstrap-table-pagination-list {
  text-align: right;
  transform: translateX(-50%);
  padding: 0px;
  padding-top: -10px;
}

.react-bootstrap-table-page-btns-ul {
  float: right !important;
  margin-top: 0px;
}
